{% extends 'base.html' %}


{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='./styles/card_style.css') }}">
{% endblock %}

{% block member_data%}

<div class="card-container">
    <div class="card-base card-one">
        <a href="{{ url_for('temp') }}">
            <!-- change file  -->
            <div class="img-one"></div>
            <div class="btn-base btn-one">
                <p> Meet Reem </p>
            </div>
            <div class="content">
                <p> Hello! I'm a CS student at JHU in Baltimore, Maryland. <br> I like quantum computing and being creative!
                </p>
            </div>
        </a>
    </div>
    <div class="card-base card-two">
        <a href="{{ url_for('temp') }}">
            <!-- change file  -->
            <div class="img-two"></div>
            <div class="btn-base btn-two">
                <p> Meet Nandini </p>
            </div>
            <div class="content">
                <p> Hi there! I'm ... </p>
            </div>
        </a>
    </div>
    <div class="card-base card-three">
        <a href="{{ url_for('temp') }}">
            <!-- change file  -->
            <div class="img-three"></div>
            <div class="btn-base btn-three">
                <p> Meet José </p>
            </div>
            <div class="content">
                <p> Hi! I'm ... </p>
            </div>
    </div>
    </a>
</div>


{% endblock%}
